.container{
    background-color: antiquewhite;
    width: 500px;
    height: 400px;
    border: 1px solid black;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box {
    background-color: rgb(202, 227, 227);
    width: 400px;
    height: 300px;
    padding: 5px;
    text-align: center;
    margin: 5px;
    border: 3px solid gray;
    font-size: 30px;
    font-weight: 700;
}
.btn{
    font-size: 15px;
    font-weight: bolder;
    line-height: 20px;
    height: 100px;
    border-radius: 20px;
    cursor: pointer;   
}
.btn:hover{
    background-color: rgb(255, 255, 255);
}
#para{
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}